KonstantinsBachelorarbeit/DEMO-TUDaThesis.synctex.gz
KonstantinsBachelorarbeit/DEMO-TUDaThesis.log
KonstantinsBachelorarbeit/DEMO-TUDaThesis.aux
KonstantinsBachelorarbeit/_5D68B36B1EF0A475C6F07718AA364FAF.data.minted
